
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  background-color: #14a4c878;
}

.header {
  display: flex;
  align-items: center;

}

.header h1 {
  padding-left: 20px;
}

.header img {
  width: 60px;
  border-radius: 10px;
}

.main-component {
  font-size: 25px;
  padding: 50px;
  color: white;
  background-image: url(./logo.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 40%;
}

.main-component h1 {
  letter-spacing: -0.05em;
}

.main-list {
  max-width: 600px;
  padding-top: 40px; 
}

.main-list li {
  padding-bottom: 20px;
}

.main-list > li::marker {
  color: #61dafb;
  font-size: 2rem;
}

.toggler {
  display: flex;
  align-items: center;
}

.toggler p {
  font-size: 1rem;
  font-weight: 600;
}

.toggler--slider {
  width: 30px;
  height: 15px;
  background-color: #2B283A;
  border-radius: 2rem;
  margin-inline: 7px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  box-sizing: content-box;
}

nav.dark .toggler--slider {
  border-color: white;
  background-color: #F5F5F5;
}

.toggler--slider--circle {
  height: 13px;
  width: 13px;
  background-color: white;
  border-radius: 50%;
}

nav.dark .toggler--slider--circle {
  background-color: black
}

.toggler--light {
  color: #2B283A;
}

nav.dark .toggler--light {
  color: #918E9B;
}

.toggler--dark {
  color: #D5D4D8;
}

nav.dark .toggler-dark {
  color: #FFFFFF;
}

nav.dark .toggler--slider {
  justify-content: flex-end;
}






















